body{
    background: #f4f4f4;
    fort-family: arial,sans-serif;
    color: #333;
    padding: 20px
    max-width: 600px;
    margin: auto;
}
h1{
    text-align: center;
    color: #ff2244;
}
h2 {
    color: blue;
}
p {
    font-size:18px;
    line-height: 1.6;
}
ul,ol {
    margin-left: 20px;
}
.lasagna-page h2 {
    color: orange;
}
lasagna-page p {
    font-weight: bold;
    color: red
}